.filtros {
   background-color: white;
   border-radius: 10px;
   border: 1px solid rgba(201, 201, 201, 0.308);
   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.08);
   -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.08);
   -moz-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.08);
   overflow: hidden;
}
.headR{
   background-color: #7149bc;
   color: white;
   padding: 5px;
   margin-bottom: 20px;
   font-weight: 600;
}
.backprofile {
   width: 150px;
   height: 150px;
   border-radius: 50%;
   background-color: #7149bc;
   overflow: hidden;
   padding: 5px;
   position: relative;
   left: 50%;
   transform: translateX(-50%);
}
.imgProfile {
   border-radius: 50%;
}

.etiqueta {
   font-family: "Open Sans";
   font-weight: 600;
   font-size: 15px;
   line-height: 15px;
   color: #7149bc;
}
.dato {
   font-family: "Open Sans";
   font-weight: 400;
   font-size: 18px;
   color: #383838;
}
.btnProps {
   background-color: white;
   border: 0.5px solid rgba(153, 153, 153, 0.315);
   border-radius: 5px;
   box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.12);
   -webkit-box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.12);
   -moz-box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.12);
   font-weight: 600;
   position: absolute;
   transform: translate(155px,-35px);
   color: #7149bc;
   transition: 150ms;
   padding: 5px 15px;

}
.btnProps:hover {
   background-color: #7149bc;
   color: white;
   transition: 150ms;
}
